.navBar {
  display: flex;
  height: 50px;
  justify-content: row;
  background-color: #333;
  text-transform: uppercase;
  color: #ffcc00;
  font: 300 16px Lato, sans-serif;

  a {
    margin: 15px;
    padding: 15px;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      color: #ff9900;
    }

  }

  @media (max-width: 1023px) {
    display: none;
  }
}
